@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
	background: url("../img/fundo-cadastro03.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
.fundo-cadastro{
	background: url("../img/fundo-principal.png");
	margin-right: auto;
	margin-left: auto;
	width: 730px;
	height: 615px;
	padding: 1%;
	border-radius: 5px;
}
td{
	color: white;
}
.logo img{
	width: 300px;
	margin-top: -40px;
	margin-left: 39%;
}
.caixa{
	width: 650px;
	margin-left: 45px;
	margin-top: 15px;
}
.container_cadastro{
	width: 730px;
	height: 615px;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px;
	font-size: 18px;
}
.campos{
	border-radius: 3px;
	height: 35px;
	border: none;
	font-size: 15px;
	padding: 10px;
}
.btn_cadastrar{
	transition: .5s;
	width: 200px;
	border-radius: 7px;
	background: #2D97E8;
	padding: 15px;
	font-size: 18px;
	color: whitesmoke;
	border: none;
	cursor: pointer; 
}
.btn_cadastrar:hover{
	transition: .5s;
	background: #51aff7;
}
.voltar{
	transition: .5s;
	width: 60px;
	border-radius: 2px;
	background: #2D97E8;
	margin-right: 20px;
	padding: 10px;
	font-size: 17px;
	text-align: center;
	color: whitesmoke;
	border: none;
	cursor: pointer;
}
.voltar:hover{
	transition: .5s;
	background: #51aff7;
}